.button{
    padding: 11px 25px 13px;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-radius: 4px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}

.button_bordered{
    background-color: $color-light;
    border: 1px solid $color-border;
    color: $color-text;
}

.button_colored{
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
}

.button_colored:hover{
    background-color: $color-additional;
    border-color: $color-additional;
}

.button_bordered:hover{
    background: $color-hovered;
    border-color: $color-hovered;
}