.button{
    @extend %font-primary;
    padding: 11px 25px 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-radius: 4px;
    cursor:pointer;
    transition: all .2s ease-in-out;
    &_bordered{
        background-color: $color-light;
        border: 1px solid $color-border;
        color: $color-text;
    }
        &:hover{
            background: $color-hovered;
            border-color: $color-hovered;
        }
    &_colored{
        background-color: $color-primary;
        border: 1px solid $color-border;
        color: $color-text;
        &:hover{
            background-color: $color-additional;
            border-color: $color-additional;
        }
        }
    }

    .link-button{
        color: $color-primary;
        @extend %font-add;
        display: inline-flex;
        align-items: center;
    }

    .link-button__text{
        margin-left: 9px;
    }