.ico {
    cursor: pointer;
    display: inline-block;
}

.icons__square{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    &_yellow{
        background-color: $color-yellow;
    };
    &_red{
        background-color: $color-red;
    };
    &_blue{
        background-color: $color-blue;
    };
    &_violet{
        background-color: $color-violet;
    };
    
}

.ico_play{
    background-image: url('/img/icons/play.svg');
    width: 18px;
    height: 19px;
}