.tools{
    padding: 0 0 90px 0;
    background: url(/img/backgrounds/tools-bg.svg) no-repeat center bottom;
}

.tools__title{
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.tools__button{
    margin: 60px 0 0 0;
    text-align: center;
}

.tool-title{
    margin: 0 0 16px 0;
}

.tool__icon{
    margin: 0 0 30px 0;
}